/**************/
/*** DEBUG ***/
/**************/

body.show-grid .container-16 {
    background-image: none;
}

body {
    font: 14px Arial, Helvetica, sans-serif;
    color: #5c5b50;
}
#site-wrapper {
    background: url('images/bg01b.gif') repeat-x;
}


/**************/
/*** HEADER ***/
/**************/

#logo {
    position: absolute;
    top: 17px;
}
h1#site-name {
    display: none;
}

#site-header, #site-subheader {
    margin-bottom: 0;
    position: relative;
}
#site-header {
    position: relative;
    height: 36px;
    z-index: 10;
}

#front_map {
    position: absolute;
    left: 616px;
    top: 0;
    z-index: -1;
}

.front #site-subheader-wrapper {
    position: relative;
    height: 390px;
    background: url('images/bg04.png') no-repeat 50% 0;
}
.front #header-region {
    background: none;
    /*height: 390px;*/
}

#header-region {
    color: #fff;
    z-index: 9;
}
#header-region {
    position: relative;
    height: 114px;
    background: url('images/bg06.gif') no-repeat;
}




/************/
/*** PAGE ***/
/************/


#page-wrapper {
    min-height: 300px;
    padding-bottom: 90px;
    background: url('images/bg05.gif') no-repeat 50% 100%;
}



/**************/
/*** FOOTER ***/
/**************/

#footer-outer {
    background: url('images/bg02.gif') repeat-x;
}
#footer-inner {
    background: url('images/bg03.gif') no-repeat 50% 0;
}
#footer {
    padding-top: 5px;
    min-height: 510px;
}
